.edit-book-container {
  margin-top: 80px;
  margin-left: 400px;
  width: 700px;
  height: 500px;
  justify-content: center;
  color: white;
}

.edit-book-input {
  width: 600px;
  margin: 10px;
  margin-left: 45px;
}

.edit-book-submit {
  width: 400px;
  height: 30px;
  margin-left: 160px;
  margin-top: 20px;
  text-align: center;
  color: gold;
  border: 2px solid gold;
  background-color: blueviolet;
}

.booklist-navigate-button {
  margin-top: 20px;
  margin-left: 20px;
}

.edit-book-heading {
  text-align: center;
}

.edit-book-submit:hover,
.booklist-navigate-button:hover {
  cursor: pointer;
}
